 .u-section-1 {
  background-image: url("images/3f564af1c183fa8950525fe07d4b1a6d.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-group-1 {
  min-height: 240px;
  position: relative;
  height: auto;
  margin: 487px auto 30px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  position: relative;
  font-size: 6rem;
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-2 {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  margin: 20px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 511px;
}

.u-section-2 .u-layout-wrap-1 {
  position: relative;
  margin: 110px 0;
}

.u-section-2 .u-image-1 {
  min-height: 319px;
  background-image: url("images/ProfileImage.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 319px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 30px 60px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 18px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('images/6cf230113b66459aeef36067ab210d13.jpeg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 785px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  position: relative;
  margin: 160px auto 160px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 114px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
  margin: 10px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 223px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 15px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 223px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 244px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-3 .u-image-1 {
  width: 189px;
  height: 189px;
  margin: 10px 0 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 244px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-3 .u-image-2 {
  width: 190px;
  height: 190px;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 244px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 21px;
  padding-right: 21px;
}

.u-section-3 .u-image-3 {
  width: 183px;
  height: 183px;
  margin: 0 16px 0 auto;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 244px;
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-3 .u-image-4 {
  width: 190px;
  height: 190px;
  margin: 13px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 137px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-2 {
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-3 {
    width: 171px;
    height: 171px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-4 {
    width: 154px;
    height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 308px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 308px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 308px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 291px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 291px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 291px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1559px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 60px;
  min-height: 1356px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 1356px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-4 .u-image-1 {
  height: 374px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 0 73px 0 -1px;
}

.u-section-4 .u-list-item-2 {
  background-position: 0.13% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-4 .u-image-2 {
  object-position: 0% 50%;
  height: 374px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 0 73px 0 -1px;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 30px;
}

.u-section-4 .u-image-3 {
  height: 374px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 0 73px 0 -1px;
}

.u-section-4 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-4 .u-image-4 {
  height: 374px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-9 {
  margin: 0 73px 0 -1px;
}

.u-section-4 .u-container-layout-5 {
  padding: 9px 30px;
}

.u-section-4 .u-image-5 {
  height: 374px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-11 {
  margin: 0 73px 0 -1px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  top: 517px;
  right: 10px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 658px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    min-height: 952px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    height: 301px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    inset: auto;
    height: 301px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -586px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    inset: auto;
    height: 301px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    inset: auto;
    height: 301px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    inset: auto;
    height: 301px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 485px;
  }

  .u-section-4 .u-image-2 {
    height: 485px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-4 .u-image-3 {
    height: 485px;
  }

  .u-section-4 .u-image-4 {
    height: 485px;
  }

  .u-section-4 .u-image-5 {
    height: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 382px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 382px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -507px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 382px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 382px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-4 .u-image-1 {
    height: 235px;
  }

  .u-section-4 .u-image-2 {
    height: 235px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -514px;
  }

  .u-section-4 .u-image-3 {
    height: 235px;
  }

  .u-section-4 .u-image-4 {
    height: 235px;
  }

  .u-section-4 .u-image-5 {
    height: 235px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 477px;
}

.u-section-5 .u-layout-wrap-1 {
  position: relative;
  margin: 65px auto 65px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 428px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-section-5 .u-text-1 {
  position: relative;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 35px 10px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 18px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 0 36px 0 0;
}

.u-section-5 .u-form-1 {
  position: relative;
  height: 171px;
  margin: 40px 385px 35px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 7px 30px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/ZuP73AS3KTK3vLOb6Rdf82pxCjso6qzK3MQnvMX7rB5BPGoZ980ncH20pueBeh6dw4is6gc9N1sHwAyfvkBG06y4RIofje1Jtppo6fa4J7gNeZgk7BJwF2FNPo.jpeg");
  min-height: 414px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 15px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 30px;
  }

  .u-section-5 .u-form-1 {
    width: 672px;
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 23px;
  }

  .u-section-5 .u-form-1 {
    width: 638px;
    margin-right: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 17px;
  }

  .u-section-5 .u-form-1 {
    width: 376px;
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-5 .u-form-1 {
    width: 316px;
    margin-right: 115px;
  }
}